{{ define "main" }}
<main class="mt-16 mb-20">
  <article class="max-w-lg mb-8 mx-auto">
    <h1 class="text-2xl md:text-3xl mb-4">{{ .Title | replaceRE "(\\s)(\\()?(<strong>)?(<em>)?(\\()?(„)?(\\S)(</em>)?(</strong>)?(\\s)" "${1}${2}${3}${4}${5}${6}${7}${8}${9}&nbsp;" | safeHTML }}</h1>
    <div class="content-single md:text-lg">
      {{ .Content | replaceRE "(\\s)(\\()?(<strong>)?(<em>)?(\\()?(„)?(\\S)(</em>)?(</strong>)?(\\s)" "${1}${2}${3}${4}${5}${6}${7}${8}${9}&nbsp;" | safeHTML }}
      <div class="text-center">
        <script>var fmFCFse7if2pza0=function(e){if(e.data.type==='resize'){document.getElementById('fm-fc-f-se7if2pza0').style.minHeight=e.data.size+'px'}};window.addEventListener?addEventListener('message',fmFCFse7if2pza0,!1):attachEvent('onmessage',fmFCFse7if2pza0);
        </script><iframe id="fm-fc-f-se7if2pza0" src="https://forms.freshmail.io/f/qlcnk4ltc5/se7if2pza0/index.html" frameborder="0" marginheight="0" marginwidth="0" style="min-height: 239px"></iframe>
      </div>
    </div>
  </article>
</main>
{{ end }}