<form class="max-w-sm" method="post" netlify>
  <div>
    <label for="name" class="block mb-1">Imię i nazwisko</label>
    <input class="appearance-none border border-grey mb-3 w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline" type="text" name="name" id="name" value="" autocorrect="off" required />
  </div>
  <div>
    <label for="email" class="block mb-1">Adres email</label>
    <input class="appearance-none border border-grey mb-3 w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline" type="email" name="email" id="email" autocapitalize="none" autocorrect="off" required />
  </div>
  <div>
    <label for="topc" class="block mb-1">Temat</label>
    <input class="appearance-none border border-grey mb-3 w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline" type="text" name="topic" id="topic" required />
  </div>
  <div>
    <label for="opis" class="block mb-1">Treść wiadomości</label>
    <textarea class="appearance-none border border-grey mb-4 w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline" name="opis" id="opis" rows="9" required></textarea>
  </div>
  <button  class="bg-true-black hover:bg-rodm-blue focus:bg-true-black text-white font-bold py-2 px-4 focus:outline-none focus:shadow-outline" type="submit">Wyślij</button>    
</form>